



html, body{
    width: 100%;
    height:100%;
    margin:0;
    padding:0;
    font-weight: 400;
    font-size: 14px;

    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #000;
}

.clear{
    clear: both;
}


body.item_act{
    overflow: hidden;
}
/*header*/
header{
    width: 100%;
    height: 119px;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.header_int{
    width: 1315px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
header .logo{}
header .logo img{
    width: 246px;
    height: auto;
    display: block;
}
header .lado_der{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .lado_der .boletos{
    height: 41px;
    width: auto;
    background-color: #ffd600;
    line-height: 41px;
    font-size: 21px;
    padding: 1px 10px 0px;
    display: block;
}
header .lado_der .boletos p{
    margin: 0px;
    letter-spacing: 0.03em;
}
.btn{
    margin-left: 50px;
    display: block;
    cursor: pointer;
}
.btn .linea{
    width: 30px;
    height: 5px;
    background-color: #262626;
    border-radius: 7px;
    margin: 5px 0px;
}
.btn .linea.linea_01{}
.btn .linea.linea_02{}
.btn .linea.linea_03{}

.menu_desplegables{
    display: none;
}
.menu_desplegable_int{}
.menu_item{}





/*contenido*/
.wrapper{
    padding-top: 119px;
    display: none;
}
.contenido{
    position: relative;
}
.wrapper_int{}
/*video*/

.contenido.contenido_video{
    min-height: -o-calc(100vh - 119px);
    min-height: -ms-calc(100vh - 119px);
    min-height: -moz-calc(100vh - 119px);
    min-height: -webkit-calc(100vh - 119px);
    min-height: calc(100vh - 119px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.video{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
.video_int{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.video_int iframe{
    width: 110vw;
    height: 66.25vw;
    min-height: 110vh;
    min-width: 187.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: -webkit-translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cartel{
    position: relative;
    width: 520px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartel_img{
    width: 100%;
}
.cartel_img img{
    max-width: 100%;
    display: block;
    height: auto;
    max-height: -o-calc(100vh - 180px);
    max-height: -ms-calc(100vh - 180px);
    max-height: -moz-calc(100vh - 180px);
    max-height: -webkit-calc(100vh - 180px);
    max-height: calc(100vh - 180px);
    margin:auto;
}


/*artistas*/
.contenido.contenido_artistas{
    width: 100%;
}
.banner_artista{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.banner_artista .columna{
    width: -o-calc(100%/3);
    width: -ms-calc(100%/3);
    width: -moz-calc(100%/3);
    width: -webkit-calc(100%/3);
    width: calc(100%/3);
}
.banner_artista .columna .cubo_img{
    width: 100%;
    padding-bottom: 100%;
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mosaico_artistas{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item_artista{
    width: 100%;
    position: relative;
    background-color: #ffd600;
    display: block;
    cursor: pointer;
}
.item_artista:nth-child(8n+2) {
  background-color: #000;
}
.item_artista:nth-child(8n+4) {
  background-color: #000;
}
.item_artista:nth-child(8n+5) {
  background-color: #000;
}
.item_artista:nth-child(8n+7) {
  background-color: #000;
}
.imagen_artista{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.titulo_artista{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition:300ms;
    transition-timing-function: ease;
}

/*contenido break*/
.contenido.contenido_break{
    width: 100%;
    background-color: #ffd600;
    overflow: hidden;
}
.contenido.contenido_break .contenido_int{
    width: 1315px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 160px 0px;
}
.contenido.contenido_break .contenido_int .imagenes{
    width: -o-calc(100% - 574px);
    width: -ms-calc(100% - 574px);
    width: -moz-calc(100% - 574px);
    width: -webkit-calc(100% - 574px);
    width: calc(100% - 574px);
}
.contenido.contenido_break .contenido_int .imagenes .mosaico{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}
.contenido.contenido_break .contenido_int .imagenes .mosaico img{
    margin-bottom: 30px;
}
.contenido.contenido_break .contenido_int .imagenes .mosaico img.mini_item{
    max-width: 100px;
}
.contenido.contenido_break .contenido_int .imagenes .mosaico img.mini_item_doble{width: auto;max-height: 100px;}
.contenido.contenido_break .contenido_int .imagenes .mosaico img.nor_item{
    max-width: -o-calc(100% - 140px);
    max-width: -ms-calc(100% - 140px);
    max-width: -moz-calc(100% - 140px);
    max-width: -webkit-calc(100% - 140px);
    max-width: calc(100% - 140px);
    margin-left: 30px;
}
.contenido.contenido_break .contenido_int .texto{
    width: 520px;
    font-size: 40px;
    text-align: right;
    position: relative;
    margin-top: 0vh;
}
.contenido.contenido_break .contenido_int .texto p{
    margin-top: 0px;
}

/*break_ext*/
.contenido.contenido_boletos{
    width: 100%;
    min-height: -o-calc(100vh - 100px);
    min-height: -ms-calc(100vh - 100px);
    min-height: -moz-calc(100vh - 100px);
    min-height: -webkit-calc(100vh - 100px);
    min-height: calc(100vh - 100px);
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contenido.contenido_boletos .contenido_int{
    width: 1030px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contenido.contenido_boletos .columna{
    width: 414px;
}
.boleto_amarillo{
    background-color: #ffd600;
}
.boleto_negro{
    background-color: #000;
    color: #fff;
}
.boleto_int{
    padding: 50px 50px 34px;
}
.boleto_superior{}
.boleto_superior h2{
    font-size: 65px;
    text-align: center;
    margin: 0px;
    min-height: 128px;
}
.boleto_negro .boleto_superior h2{
    font-size: 0px;
    color: transparent;
    height: auto;
}
.boleto_negro .boleto_superior h2 img{
    filter: brightness(100);
    max-width: 233px;
    height: auto;
}
.precio{
    padding: 4px 0px;
    text-align: center;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    font-size: 82px;
    margin: 40px 0px 20px;
}
.boleto_negro .precio{
  border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}
.incluye{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin: 0px;
}
.incluye span{}
.listado{
    min-height: 270px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.listado ul{
    padding: 0px;
    list-style: none;
}
.listado li{
    font-size: 30px;
}
.boleto_negro .listado{}
.boleto_negro .listado ul{}
.boleto_negro .listado li{
    font-size: 18px;
}
.boleto_inferior{
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    display: block;
}
.boton{
    cursor: pointer;
    display: block;
}
.boton p{
    margin: 0px;
    background-color: #262626;
    color: #f2f2f2;
}
.boleto_negro .boton p{
    background-color: #f2f2f2;
    color: #262626;
}


.etiqueta{
    width: 100%;
    text-align: center;
}
.etiqueta p{
    font-size: 40px;
}
.etiqueta p a{}
.etiqueta p a img{
    height: 28px;
    width: auto;
}

/*sponsors*/
.contenido.contenido_sponsors{}
.conenido_centrado_sponsors{
    display: flex;
    flex-wrap: wrap;
    width: 1315px;
    margin: auto;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 100px;
}
.area_sponsor{
    width: auto;
    margin: 0px 20px 15px;
}
.area_sponsor .titulo{
    width: 100%;
    border-top: 1.5px solid #777777;
}
.area_sponsor .titulo h4{
    color: #777;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    margin: -1px 0px 15px;
    line-height: 17px;
}
.area_sponsor .sponsors{justify-content: center;align-items: center;}
.area_sponsor .sponsor_item{
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: middle;
}
.area_sponsor .sponsor_item img{
    max-width: 136px;
    max-height: 61px;
    width: auto;
    height: auto;
    display: block;
    min-height: 51px;
    min-width: 105px;
    margin: 0px 10px  10px 0px;
}
.area_sponsor .sponsor_item.uber img{
    min-width: 65px;
}
.area_sponsor .sponsor_item.ubereats img{
    min-width: 55px;
}
.area_sponsor .sponsor_item.ecolive img{
    min-width: 130px;
}
.area_sponsor .sponsor_item.ocesa img{
    min-width: 75px;
}


/*footer*/
.footer_espacio{}
footer{
    width: 100%;
    height: 400px;
    height: 200px;
    background-color: #262626;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.footer_int{
    width: 1315px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 67px;
    justify-content: center;
}
.footer_int .columna{}
.footer_int .columna p{
    margin: 0px 0px 20px;
    font-size: 29px;
}
.footer_int .columna form{
    display: flex;
}
.footer_int .columna input{
    width: 370px;
    height: 45px;
    line-height: 45px;
    padding: 0px 10px;
    background-color: #f2f2f2;
    border: none;
    display: block;
    font-size: 22px;
    color: #000;
}
.footer_int .columna input.btn_input{
    width: auto;
    text-transform: uppercase;
}
.redes_footer{
    display: flex;
    flex-wrap: wrap;
}
.redes_footer .red{
    font-size: 22px;
    margin: 0px 22px;
}
.redes_footer .red span{
    background-color: #f2f2f2;
    width: 46px;
    height: 46px;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 46px;
}
.footer_bottom{
    width: 100%;
}
.f_b_int{
    width: -o-calc(100% - 30px);
    width: -ms-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 10px auto;
    text-align: right;
}
.f_b_int .dupla{
  color:#777;
  font-size: 12px;
  letter-spacing: 0.03em;
}


.pleca_gris{
    width: 100%;
    height: 100px;
    background-color: #777;
}
.pleca_gris_int{
    width: 1315px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.pleca_gris_int a, .pleca_gris_int span{
    display: contents;
    height: 100%;
    width: auto;
}
.pleca_gris_int a img, .pleca_gris_int span img {
    max-height: 72px;
    width: auto;
    max-width: 600px;
    height: auto;
}
.pleca_gris_int a.logo_ciudad,
.pleca_gris_int span.logo_ciudad{}
.pleca_gris_int a.logo_ciudad img, .pleca_gris_int span.logo_ciudad img{
    max-height: 31px;
}

.area_sponsor .sponsor_item.sponsor_item_ibero img{
    min-width: 50px;
}
.mini_item{
    max-width: 100px;
}

/*menu*/
.menu_animado{
    position: sticky;
    top: 119px;
    left: 0;
    background-color: #fed600;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    padding: 2px 0px 1px;
}
.menu_animado_int{
        position: relative;
        height: 100%;
        width: auto;
        white-space: nowrap;
        display: -webkit-inline-box;
}

.menu_animado_scroll{
    position: relative;
    left: 0;
    height: 100%;
    white-space: nowrap;
    -webkit-animation: carrusel linear 30s infinite ;
    animation: carrusel linear 30s infinite ;
}
@-webkit-keyframes carrusel {
  from {
    left: 0px; }
  to {
    left: -o-calc(-100% + 100vw);
    left: -ms-calc(-100% + 100vw);
    left: -moz-calc(-100% + 100vw);
    left: -webkit-calc(-100% + 100vw);
    left: calc(-100% + 100vw); } }

@keyframes carrusel {
  from {
    left: 0px; }
  to {
    left: -o-calc(-100% + 100vw);
    left: -ms-calc(-100% + 100vw);
    left: -moz-calc(-100% + 100vw);
    left: -webkit-calc(-100% + 100vw);
    left: calc(-100% + 100vw); } }
.m_a_item{
    display: inline-block;
    margin: 0px 7px;
    font-size: 32px;
    position: relative;
}
.m_a_item p{
    margin: 0px;
    line-height: 38px;
}
.m_a_item p b{
    font-weight: normal;
}

.act_submenu .menu_animado{
}



.mini_item_responsive{
    display: none;
}



/*over */
.over_full{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(242, 242, 242, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    display: none;
}
.over_artista{
    width: 640px;
    margin: auto;
    background-color: #fff;
    position: relative;
}
.over_artista .titulo{
    background-color: #ffd600;
    padding: 30px 40px;
}
.over_artista .titulo h2{
    margin: 0px;
    font-size: 60px;
    text-transform: uppercase;
}
.over_artista .titulo h3{
    text-transform: uppercase;
    font-size: 27px;
    margin: 0px;
}
.over_artista .texto{
    width: -o-calc(100% - 80px);
    width: -ms-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    margin: auto;
    line-height: 150%;

    display: none;
}
.over_artista .texto h1{
    font-weight: normal;
}
.over_artista .texto h2{
    font-weight: normal;
}
.over_artista .texto h3{
    font-weight: normal;
}
.over_artista .texto h4{
    font-weight: normal;
}
.over_artista .texto h5{
    font-weight: normal;
}
.over_artista .texto h6{
    font-weight: normal;
}
.over_artista .texto p{}
.over_video{
    background-color: #ffd600;
    width: 100%;
}
.over_video_int{
    width: 100%;
    padding-bottom: 56.68%;
    height: 0px;
    position: relative;
}
.over_video_int iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border: none;
}
.footer_artista{
    display: flex;
    justify-content: space-between;
}
.footer_artista_int{
    width: -o-calc(100% - 80px);
    width: -ms-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #ffd600;
    margin-top: 22px;
    padding-top: 17px;
    padding-bottom: 36px;
    font-size: 20px;
    text-transform: uppercase;
}
.footer_artista .red_artista{}


.over_full.visible{
    display: flex;
}

.over_full_cerrar{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.icono_cerrar{
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    position: fixed;
    /* background-image: url(https://festivalceremonia.com/img/cerrar.png); */
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


body{
    overflow: hidden;
}
.over_posponer{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    flex-wrap: wrap;
    overflow: auto;
    background-image: url(https://festivalceremonia.com/upload/new_items/fondo.jpg);
    background-size: cover;
    background-position: center;
}
.over_posponer_int{
    margin: auto;
    height: min-content;
    display: block;
    padding: 20px 0px;
}
.over_posponer_int img{
    /* max-width: 680px; */
    /* height: auto; */
    /* box-shadow: 0px 0px 5px -2px #000; */
    /* display: block; */
}

.centrar{
    background-color: #fff;
    width: 740px;
    padding: 10px 30px 10px;
}

.over_posponer .fila{
    width: 100%;
    margin: 10px 0px;
}
.over_posponer .fila.fila_logo{
    margin-top: 0px;
}
.over_posponer .fila.fila_logo img{
    max-width: 260px;
    display: block;
    margin: auto;
}

.over_posponer .fila.fila_cartel{}
.over_posponer .fila.fila_cartel img{}

.over_posponer .fila.fila_cartel{}
.over_posponer .fila.fila_cartel img{
    max-width: 100%;
    height: auto;
}

.over_posponer .fila.fila_botones{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 80px);
    margin: 10px auto;
}
.over_posponer .fila.fila_botones .botones{
    width: 100%;
    display: block;
    margin: 5px;
    cursor: pointer;
}
.over_posponer .fila.fila_botones .botones img{
    max-width: 100%;
    height: auto;
    display: block;
}

.over_posponer .fila.fila_footer{}
.over_posponer .fila.fila_footer img{
    max-width: 100%;
    height: auto;
}


.over_programahorarios{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://festivalceremonia.com/upload/new_items/fondo.jpg);
    z-index: 10000;
    display: none;
}
.over_programahorarios_int{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.centrar{

}
.over_programahorarios .fila{
    margin: 10px 0px 20px;
}
.over_programahorarios .fila.fila_volver{
    cursor: pointer;
}
.over_programahorarios .fila.fila_volver p{
    margin: 0px;
    text-transform: uppercase;
    font-size: 13px;
}
.over_programahorarios .fila.fila_volver p span{
    padding-right: 5px;
}
.over_programahorarios .fila.fila_programa{}
.over_programahorarios .fila.fila_programa img{
    max-width: 100%;
    display: block;
    height: auto;
}





