

:root {
    --headerScale: 1;
  }
  
  body{
    
    overflow-x: hidden;
  }
  
  #mc_embed_signup .mc-field-group input {
    padding: 0px !important;
  
  }
  
  
  
  #mc_embed_signup form {
    text-align: center;
    position: static;
  }
  
  .mc-field-group {
    display: block !important;
    margin: 0 auto !important;
  }
  
  #mc-embedded-subscribe {
    margin:0;
  }
  
  
  
  
  form > input + .row {
    display: block;
    margin: 0 auto !important;
  }
  #mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
  }
  
  .video-header {
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 100vh;
  }
  
  .video-header,
  .video-header video,
  .video-header .viewport-header {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  .video-header video {
    background: #36bb4d;
    object-fit: cover;
  }
  .video-header .viewport-header {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transform: scale(var(--headerScale));
  }
  
  html,
  body {
    height: 100vh;
    overflow-x: hidden;
    background-color: #36bb4d;
  }
  
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    line-height: 1.4;
  }
  
  body {
    margin: 0;
  }
  
  h1 {
    font-family: "Syncopate", sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
  }
  h1 span {
    display: block;
    font-size: 10vw;
    letter-spacing: -1.3vw;
  }
  
  main {
    position: relative;
    padding: 1rem;
    margin-top: 100vh;
  }
  main::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    top: -100vh;
  }
  main p {
    max-width: 600px;
    margin: 1rem auto;
  }
  
  #containerx {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #top_div {
    position: absolute;
    bottom: 50%;
  }
  
  #bottom_div {
    padding-top: 6rem;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
  }
  
  .centery {
    display: block;
    margin: 0 auto;
    background: #000 !important;
  }
  
  .centeryx {
    background: #000;
    color: #fff;
    letter-spacing: 0.22rem;
    margin: 0 auto;
    display: inline-block;
    font-family: "MyFont";
    font-size: 1.2rem;
    white-space: nowrap;
  }
  
  .formax {
    color: #000;
    letter-spacing: 0.22rem;
    margin: 0 auto;
    font-family: "MyFont";
    font-size: 1.2rem;
  }
  
  @media (max-width: 575.98px) {
    .containerx {
      top: 200px;
    }
  
    #Lefty {
      width: 80%;
      display: block;
      margin: 0 auto;
      /* border:1px solid #c4c4c4; */
      height: 150px;
      text-align: center;
    }
  
    #Righty {
      width: 80%;
      display: block;
      margin: 0 auto;
      height: 150px;
      padding-top: 120px;
      text-align: center;
    }
  
    .leftyx {
      max-width: 80%;
      bottom: 0;
      right: 0;
    }
  
    .rightyx {
      max-width: 40%;
      bottom: 0;
      right: 0;
    }
  
    .textx {
      width: 440px o !important;
      max-width: 440px !important;
    }
  
    .centeryx {
      background: #000;
      color: #fff;
      letter-spacing: 0.20rem;
      margin: 0 auto;
      display: inline-block;
      font-family: "MyFont";
      font-size: 0.5rem;
      bottom: 0;
      -ms-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
    }
  
    .formax {
      letter-spacing: 0.20rem;
      font-size: 0.5rem;
      -ms-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
    }
  
    .flex {
      margin-left: -6.4rem!important ;
      display: flex;
      flex-direction: row;
      position: absolute;
  
    }
    
    #mce-EMAIL {
      margin-top: 21.83rem !important;
      margin: 0 auto;
      width: 8rem !important;
      max-width: 8rem !important;
    }
    .boton-negro {
      margin-top: 21.83rem !important;
  
      background: white;
      color: black;
      width: 4.4rem !important;
    }
  
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .containerx {
      top: 200px;
    }
  
    #Lefty {
      width: 80%;
      display: block;
      margin: 0 auto;
      /* border:1px solid #c4c4c4; */
      height: 150px;
      text-align: center;
    }
  
    #Righty {
      width: 80%;
      display: block;
      margin: 0 auto;
      /* border:1px solid #c4c4c4; */
      height: 150px;
      padding-top: 120px;
      text-align: center;
    }
  
    .leftyx {
      max-width: 70%;
      bottom: 0;
      right: 0;
    }
  
    .rightyx {
      max-width: 40%;
      bottom: 0;
      right: 0;
    }
  
    .centeryx {
      display: inline-block;
      margin: 0 auto;
      /* padding-top: 180px !important; */
      /* max-width: 60%; */
      bottom: 0;
      /* padding-top:2rem; */
    }
  
    .flex {
      margin-left: -11.9rem !important ;
      display: flex;
      flex-direction: row;
      position: absolute;
    }
    
    #mce-EMAIL {
      margin-top: 22.5rem !important;
      margin: 0 auto;
      width: 18.7rem !important;
      max-width: 18.7rem !important;
    }
    .boton-negro {
      margin-top: 22.5rem !important;
  
      background: white;
      color: black;
      width: 4.5rem !important;
    }
  
  .input-group {
    margin-top: 20px;
  }
  
  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* #video {  
      position: fixed;
      z-index: -1;
      width: 120%;
    }
      */
  
    .containerx {
      top: 200px;
    }
  
    #Lefty {
      width: 80%;
      display: block;
      margin: 0 auto;
      /* border:1px solid #c4c4c4; */
      height: 150px;
      text-align: center;
    }
  
    #Righty {
      width: 80%;
      display: block;
      margin: 0 auto;
      /* border:1px solid #c4c4c4; */
      height: 150px;
      padding-top: 120px;
      text-align: center;
    }
  
    .leftyx {
      max-width: 80%;
      bottom: 0;
      right: 0;
    }
  
    .rightyx {
      max-width: 40%;
      bottom: 0;
      right: 0;
    }
  
    .centeryx {
      display: inline-block;
      margin: 0 auto;
      /* padding-top: 180px !important; */
      /* max-width: 65%; */
      bottom: 0;
    }
  
  
    .flex {
      margin-left: -11.9rem !important ;
      display: flex;
      flex-direction: row;
      position: absolute;
    }
    
    #mce-EMAIL {
      margin-top: 23rem !important;
      margin: 0 auto;
      width: 18.5rem !important;
      max-width: 18.5rem !important;
    }
    .boton-negro {
      margin-top: 23rem !important;
      background: white;
      color: black;
      width: 4.2rem !important;
    }
  
  
  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1289.98px) {
    /* #video {  
      position: fixed;
      z-index: -1;
      width: 120%;
      
      
    } */
  
    #Lefty {
      width: 60%;
      display: block;
      margin: 0 auto;
      /* border:1px solid #c4c4c4; */
      height: 150px;
      text-align: center;
    }
  
    #Righty {
      width: 40%;
      display: inline-block;
      /* border:1px solid #c4c4c4; */
      height: 150px;
      text-align: left;
    }
  
    .leftyx {
      max-width: 80%;
      bottom: 0;
      right: 0;
    }
  
    .rightyx {
      max-width: 40%;
      bottom: 0;
      right: 0;
    }
  
    .centeryx {
      /* max-width: 40%; */
      bottom: 0;
      display: inline-block;
    }
  
  
    .flex {
      display: flex;
      flex-direction: row;
      position: absolute;
      margin-left: -11.9rem !important ;
  
    }
    
    #mce-EMAIL {
      margin-left: -10px;
      margin-top: 525px !important;
      margin: 0 auto;
      width: 18.5rem !important;
      max-width: 18.5rem !important;
    }
    .boton-negro {
      margin-top: 525px !important;
    
      background: white;
      color: black;
      width: 4.2rem !important;
    }
  
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1280px) {
    /* #video {  
      position: fixed;
      z-index: -1;
      max-width: 100%;
    } */
  
  
  
    .flex {
      display: flex;
      flex-direction: row;
      position: absolute;
      margin-left: -12.2rem !important ;
  
    }
    
    #mce-EMAIL {
      margin-top: 21.9rem !important;
      margin: 0 auto;
      width: 18.5rem !important;
      max-width: 18.5rem !important;
    }
    .boton-negro {
      margin-top: 21.9rem !important;
    
      background: white;
      color: black;
      width: 4.2rem !important;
    }
  
    #Lefty {
      width: 60%;
      display: block;
      margin: 0 auto;
      /* border:1px solid #c4c4c4; */
      height: 150px;
      text-align: center;
    }
    /* 
    #Righty {
      width: 40%;
      display: inline-block;
      height: 150px;
      text-align: left;
      padding-left: 130px;
    } */
  
    .leftyx {
      max-width: 60%;
      bottom: 0;
      right: 0;
    }
  
    .rightyx {
      max-width: 40%;
      bottom: 0;
      right: 0;
    }
  
    .centeryx {
      /* max-width: 50%; */
      bottom: 0;
      display: inline-block;
    }
  }
  